/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom Styles */
*,
*::before,
*::after {
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

body {
    line-height: 1.5;
    font-size: 16px;
}

/* Clearfix */

.clearfix::before, .clearfix::after {
    content:"";
    display:table;
}
.clearfix::after {
    clear: both;
}
.padding {
    padding: 20px;
}

/* General */

.play-button {
    position:absolute;
    top: 175px;
    left: 125px;
    height: 50px;
    line-height: 50px;
    width: 150px;
    background-color: darkmagenta;
    color : white;
    text-align: center;
    border-radius: 10px;
}

.border {
    border: 1px solid white;     
}

hr{
    margin-bottom: 20px;
    color: rgb(151, 141, 141);
    border-width: 0.1px;
}



/* Header */
header{
    background-color: rgb(34, 5, 5);
    height: 150px;
    line-height: 150px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.header img {
    width: 100px;
    vertical-align: middle;
}

.logo{
    float : left;
}

.navigation {
    float: right;
}

.navigation a {
    text-decoration: none;
    color: wheat;
    font-size: 20px;
    margin-left: 20px;
}

/* Hero Section */
.hero, .hero-game{
    background-color: rgb(34, 5, 5);
    color: rgb(129, 74, 74);
    position: fixed;
    width: 100%;
    top: 150px;
    z-index : 1;
}

.hero h1, .hero-game h1 {
     font-family: 'Pacifico', cursive;
     font-size: 100px;
     padding-bottom : 50px;
     text-align : center;
}
.hero-game h1 {
    font-size: 50px;
}
/* Main Content */

.game, .game-description {
    width: 50%;
    height: 600px;
    padding: 3% 7.5%;
    float : left;
    height : 500px;
        
}

.game-description {
   border: 3px solid brown;
   border-radius: 20px;
}

.game-description h2 {
    font-size: 50px;
    padding:10px 0;
    font-weight: 700;
}

.game-description p {
    padding: 10px 0;
    text-align: justify;
    font-size: 30;
    line-height: 2;
    
}


/* Chess */
.chess{
    padding: 3% 0; 
    padding-top: calc(2% + 350px);
    background-color: khaki;
    
}

.light-box, .dark-box{
    width: 50px;
    height: 50px;
    padding: 0 13px;
}
.light-box {
    background-color: #fff;
    float: left;
}
.dark-box{
    background-color: grey;
    float: left;
}

.main-box{
    width: 420px;
    height: 420px;
    background-color:black;
    
    border: 5px solid darkslategrey;
    
    box-shadow:0 0 0 5px black;
    position: relative;
    padding:5px;
    

}
.main-box span {
    font-size: 30px;
}

/* Sudoku */

.sudoku {
    background-color: rgb(236, 223, 102);
    padding: 3% 0;
}

.sudoku-game {
    float: left;
    padding: 1% 6%; 
    
}

.sudoku .play-button{
    top: 210px;
    left:160px;
}
.main-box-sudoku {
    width: 470px;
    padding: 10px;
    position: relative;
    
}
.col-1-9 {
    width:50px;
    height: 50px;
    border: 1px solid black;
    float: left;
    background-color: lightcyan;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    font-size: 25px;
    color: grey;
    
}
.col-3{
    border-right: 3px solid black;
}

.col-1{
    border-left: 3px solid black;
}
.sudoku-row-1 .col-1-9{
    border-top: 3px solid black;
}

.sudoku-row-3 .col-1-9, .sudoku-row-6 .col-1-9, .sudoku-row-9 .col-1-9 {
    border-bottom: 3px solid black;
}
/* Loop */
.loop {
    background-color: khaki;
    padding: 3% 0;
    position: relative;
}

.loop-game {
    padding: 1% 6%; 
 
}

.main-box-loop {
    width: 490px;
    height: 490px;
    padding: 20px;
    position: relative;
    background-color: blanchedalmond;
    outline: 5px solid rgb(163, 142, 146);

}

.loop-row {
    position: relative;
}
.loop-game .col-1-9 {
background-color: blanchedalmond;
width: 50px;
height: 50px;
border: 2px solid rgb(235, 229, 229);
}

.loop-game .play-button{
    top: 210px; 
    left: 160px;
    z-index: 2; 
    
}

.dot{
    width: 10px;
    height: 10px;
    border-radius:50%;
    background-color: black;
    position: absolute;
}
/* .border-top {
    border-top : 4px solid rgb(235, 229, 229);
}
.border-bottom {
    border-bottom: 4px solid rgb(235, 229, 229);
}
.border-left {
    border-left: 4px solid rgb(235, 229, 229);
}
.border-right {
    border-right: 4px solid rgb(235, 229, 229);
} */
/* Dots arrangement */

/* Row-1 */
.dot-11 { top: 16px; left:16px;}
.dot-12 { top: 16px; left:65px;}
.dot-13 { top: 16px; left:115px;}
.dot-14 { top: 16px; left:165px;}
.dot-15 { top: 16px; left:215px;}
.dot-16 { top: 16px; left:265px;}
.dot-17 { top: 16px; left:315px;}
.dot-18 { top: 16px; left:365px;}
.dot-19 { top: 16px; left:415px;}
.dot-10 { top: 16px; left:465px;}

/* Row-2 */
.dot-21 { top: 66px; left:16px;}
.dot-22 { top: 66px; left:65px;}
.dot-23 { top: 66px; left:115px;}
.dot-24 { top: 66px; left:165px;}
.dot-25 { top: 66px; left:215px;}
.dot-26 { top: 66px; left:265px;}
.dot-27 { top: 66px; left:315px;}
.dot-28 { top: 66px; left:365px;}
.dot-29 { top: 66px; left:415px;}
.dot-20 { top: 66px; left:465px;}

/* Row-3 */
.dot-31 { top: 116px; left:16px;}
.dot-32 { top: 116px; left:65px;}
.dot-33 { top: 116px; left:115px;}
.dot-34 { top: 116px; left:165px;}
.dot-35 { top: 116px; left:215px;}
.dot-36 { top: 116px; left:265px;}
.dot-37 { top: 116px; left:315px;}
.dot-38 { top: 116px; left:365px;}
.dot-39 { top: 116px; left:415px;}
.dot-30 { top: 116px; left:465px;}

/* Row-4 */
.dot-41 { top: 166px; left:16px;}
.dot-42 { top: 166px; left:65px;}
.dot-43 { top: 166px; left:115px;}
.dot-44 { top: 166px; left:165px;}
.dot-45 { top: 166px; left:215px;}
.dot-46 { top: 166px; left:265px;}
.dot-47 { top: 166px; left:315px;}
.dot-48 { top: 166px; left:365px;}
.dot-49 { top: 166px; left:415px;}
.dot-40 { top: 166px; left:465px;}

/* Row-5 */
.dot-51 { top: 216px; left:16px;}
.dot-52 { top: 216px; left:65px;}
.dot-53 { top: 216px; left:115px;}
.dot-54 { top: 216px; left:165px;}
.dot-55 { top: 216px; left:215px;}
.dot-56 { top: 216px; left:265px;}
.dot-57 { top: 216px; left:315px;}
.dot-58 { top: 216px; left:365px;}
.dot-59 { top: 216px; left:415px;}
.dot-50 { top: 216px; left:465px;}

/* Row-6 */
.dot-61 { top: 266px; left:16px;}
.dot-62 { top: 266px; left:65px;}
.dot-63 { top: 266px; left:115px;}
.dot-64 { top: 266px; left:165px;}
.dot-65 { top: 266px; left:215px;}
.dot-66 { top: 266px; left:265px;}
.dot-67 { top: 266px; left:315px;}
.dot-68 { top: 266px; left:365px;}
.dot-69 { top: 266px; left:415px;}
.dot-60 { top: 266px; left:465px;}

/* Row-7 */
.dot-71 { top: 316px; left:16px;}
.dot-72 { top: 316px; left:65px;}
.dot-73 { top: 316px; left:115px;}
.dot-74 { top: 316px; left:165px;}
.dot-75 { top: 316px; left:215px;}
.dot-76 { top: 316px; left:265px;}
.dot-77 { top: 316px; left:315px;}
.dot-78 { top: 316px; left:365px;}
.dot-79 { top: 316px; left:415px;}
.dot-70 { top: 316px; left:465px;}

/* Row-8 */
.dot-81 { top: 366px; left:16px;}
.dot-82 { top: 366px; left:65px;}
.dot-83 { top: 366px; left:115px;}
.dot-84 { top: 366px; left:165px;}
.dot-85 { top: 366px; left:215px;}
.dot-86 { top: 366px; left:265px;}
.dot-87 { top: 366px; left:315px;}
.dot-88 { top: 366px; left:365px;}
.dot-89 { top: 366px; left:415px;}
.dot-80 { top: 366px; left:465px;}

/* Row-9 */
.dot-91 { top: 416px; left:16px;}
.dot-92 { top: 416px; left:65px;}
.dot-93 { top: 416px; left:115px;}
.dot-94 { top: 416px; left:165px;}
.dot-95 { top: 416px; left:215px;}
.dot-96 { top: 416px; left:265px;}
.dot-97 { top: 416px; left:315px;}
.dot-98 { top: 416px; left:365px;}
.dot-99 { top: 416px; left:415px;}
.dot-90 { top: 416px; left:465px;}

/* Row-10 */
.dot-101 { top: 466px; left:16px;}
.dot-102 { top: 466px; left:65px;}
.dot-103 { top: 466px; left:115px;}
.dot-104 { top: 466px; left:165px;}
.dot-105 { top: 466px; left:215px;}
.dot-106 { top: 466px; left:265px;}
.dot-107 { top: 466px; left:315px;}
.dot-108 { top: 466px; left:365px;}
.dot-109 { top: 466px; left:415px;}
.dot-100 { top: 466px; left:465px;}


/* Footer */

footer {
    background-color: rgb(34, 5, 5);
    color: wheat; 
    height: 70px;
    line-height: 30 px;   

}

.copyright {
    font-size: 15px;
    vertical-align: middle;
}

/* Top Button */

.top-btn{
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 20%;
    color: wheat;
    font-weight: 700;
    background-color: orangered;
    position: fixed;
    bottom:10px;
    right:50px;
}
/* Games pages */
.chess-page, .sudoku-page, .loop-page {
    margin-top: 300px;
}

/* Other Pages */

.about, .contact, .games {
    margin-top: 350px;
}